@import "@tabler/icons-webfont/dist/tabler-icons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/plus-jakarta/PlusJakartaSans-Regular.ttf') format('ttf');
    font-weight: 400;
} */
